.active #mobile-header-button div {
  transform: rotate(360deg);
}

.active div :nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}
.active div :nth-of-type(2) {
  opacity: 0;
}
.active div :nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}
